{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero">
  <div class="hero__text">
    <div class="text__caption">Андозерская усадьба</div>
    <div class="text__title">
      <h1 class="h1__title_hero">Отзывы и ревью</h1>
    </div>
    <div class="text__description"> Здесь вы можете найти подлинные отзывы и рецензии Андозёрской усадьбы</div>
  </div>

</section>
<section class="reviews__feedback">
  <div class="container__reviews">
    <h3 class="title__feedback">Отзывы</h3>
    <div class="feedback__corusel__box">
      <div class="review__feedback">
        <p class="description__feedback">В Андозёрской усадьбе есть все необходимое для комфортного отдыха на природе:
          барбекю,
          костер, теннисный корт, бассейн и многое
          другое.
          Если вы ищете уединенный отдых, то Андозёрская усадьба - отличный выбор.</p>
        <div class="user__feedback">
          <div class="img__ueser"><img src="{% static 'img/users/users14.png' %}" alt=""></div>
          <div class="description__user">
            <h5 class="name__user">Александр Иванов</h5>
            <p class="info__user">Анапа</p>
          </div>
        </div>
        <div class="rating__feedback">
          <div class="stars__feedback"><img src="{% static 'img/raitings/rating45.png' %}" alt=""></div>
          <div class="number__feedback">
            <p class="rating__number">4.5</p>
          </div>
        </div>
      </div>
      <div class="review__feedback">
        <p class="description__feedback">Я рекомендую Андозёрскую усадьбу всем, кто хочет насладиться природой и
          комфортом
          одновременно.</p>
        <div class="user__feedback">
          <div class="img__ueser"><img src="{% static 'img/users/users03.png' %}" alt=""></div>
          <div class="description__user">
            <h5 class="name__user">Максим Козлов</h5>
            <p class="info__user">Архангельск</p>
          </div>
        </div>
        <div class="rating__feedback">
          <div class="stars__feedback"><img src="{% static 'img/raitings/rating5.png' %}" alt=""></div>
          <div class="number__feedback">
            <p class="rating__number">5.0</p>
          </div>
        </div>
      </div>
      <div class="review__feedback">
        <p class="description__feedback">Спокойная и расслабляющая атмосфера в кемпинге позволяет полностью отдохнуть
          от городской суеты.
          Я обязательно вернусь в Андозёрскую усадьбу снова, чтобы насладиться красотами природы и уютом глэмпинга.</p>
        <div class="user__feedback">
          <div class="img__ueser"><img src="{% static 'img/users/users13.png' %}" alt=""></div>
          <div class="description__user">
            <h5 class="name__user">Дарья Петрова</h5>
            <p class="info__user">Челябинск</p>
          </div>
        </div>
        <div class="rating__feedback">
          <div class="stars__feedback"><img src="{% static 'img/raitings/rating5.png' %}" alt=""></div>
          <div class="number__feedback">
            <p class="rating__number">5.0</p>
          </div>
        </div>
      </div>
    </div>
    <div class="feedback__corusel__box">
      <div class="review__feedback">
        <p class="description__feedback">Андозёрская усадьба - идеальное место для расслабления на природе.
          Я провел незабываемый уик-энд в Андозёрской усадьбе.</p>
        <div class="user__feedback">
          <div class="img__ueser"><img src="{% static 'img/users/users05.png' %}" alt=""></div>
          <div class="description__user">
            <h5 class="name__user">Илья Волков</h5>
            <p class="info__user">Москва</p>
          </div>
        </div>
        <div class="rating__feedback">
          <div class="stars__feedback"><img src="{% static 'img/raitings/rating5.png' %}" alt=""></div>
          <div class="number__feedback">
            <p class="rating__number">5.0</p>
          </div>
        </div>
      </div>
      <div class="review__feedback">
        <p class="description__feedback">Удобные палатки и все необходимые удобства - это то, что делает глэмпинг в
          Андозёрской усадьбе особенным.
          Если вы любите природу и комфорт, то Андозёрская усадьба - ваш выбор.</p>
        <div class="user__feedback">
          <div class="img__ueser"><img src="{% static 'img/users/users09.png' %}" alt=""></div>
          <div class="description__user">
            <h5 class="name__user">Анастасия Кузнецова</h5>
            <p class="info__user">Санкт-Петербург</p>
          </div>
        </div>
        <div class="rating__feedback">
          <div class="stars__feedback"><img src="{% static 'img/raitings/rating5.png' %}" alt=""></div>
          <div class="number__feedback">
            <p class="rating__number">5.0</p>
          </div>
        </div>
      </div>
      <div class="review__feedback">
        <p class="description__feedback">Я наслаждался красотами природы, гуляя по тропинкам и наслаждаясь свежим
          воздухом.
          Я остался очень доволен своим пребыванием в кемпинге Forestcamp и рекомендую его всем, кто ищет место для
          отдыха на
          природе.</p>
        <div class="user__feedback">
          <div class="img__ueser"><img src="{% static 'img/users/users06.png' %}" alt=""></div>
          <div class="description__user">
            <h5 class="name__user">Екатерина Федорова</h5>
            <p class="info__user">Инта</p>
          </div>
        </div>
        <div class="rating__feedback">
          <div class="stars__feedback"><img src="{% static 'img/raitings/rating4.png' %}" alt=""></div>
          <div class="number__feedback">
            <p class="rating__number">4.0</p>
          </div>
        </div>
      </div>
    </div>
    <div class="feedback__corusel__box">
      <div class="review__feedback">
        <p class="description__feedback">Я провел здесь незабываемый отпуск с семьей и друзьями.
          Обслуживание в Андозёрской усадьбе было безупречным, всегда готовы помочь и ответить на все вопросы.</p>
        <div class="user__feedback">
          <div class="img__ueser"><img src="{% static 'img/users/users04.png' %}" alt=""></div>
          <div class="description__user">
            <h5 class="name__user">Артём Федоров</h5>
            <p class="info__user">Череповец</p>
          </div>
        </div>
        <div class="rating__feedback">
          <div class="stars__feedback"><img src="{% static 'img/raitings/rating45.png' %}" alt=""></div>
          <div class="number__feedback">
            <p class="rating__number">4.5</p>
          </div>
        </div>
      </div>
      <div class="review__feedback">
        <p class="description__feedback">"Андозёрская усадьба - идеальное место для отдыха на природе. Мы прекрасно провели время и остались в полном восторге от всех предоставляемых удобств.</p>
        <div class="user__feedback">
          <div class="img__ueser"><img src="{% static 'img/users/users16.png' %}" alt=""></div>
          <div class="description__user">
            <h5 class="name__user">Илья Королёв</h5>
            <p class="info__user">Адлер</p>
          </div>
        </div>
        <div class="rating__feedback">
          <div class="stars__feedback"><img src="{% static 'img/raitings/rating5.png' %}" alt=""></div>
          <div class="number__feedback">
            <p class="rating__number">5.0</p>
          </div>
        </div>
      </div>
      <div class="review__feedback">
        <p class="description__feedback">Я оценил уединение и покой, которые предоставляет Андозёрская усадьба.
          Forestcamp - идеальное место для тех, кто хочет насладиться природой и провести время на свежем воздухе.</p>
        <div class="user__feedback">
          <div class="img__ueser"><img src="{% static 'img/users/users17.png' %}" alt=""></div>
          <div class="description__user">
            <h5 class="name__user">Никита Морозов</h5>
            <p class="info__user">Сочи</p>
          </div>
        </div>
        <div class="rating__feedback">
          <div class="stars__feedback"><img src="{% static 'img/raitings/rating5.png' %}" alt=""></div>
          <div class="number__feedback">
            <p class="rating__number">5.0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="video__feedback" id="video_review">
    <h3 class="title__feedback">Видео ревью</h3>
    <div class="feadback__video__box">
      <div class="viedo__feedback__box">
        <video class="video__feedback__block" controls muted loop width="100%" height="100%" style="object-fit:cover;">
          <source src="{% static 'video/feedback/1.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="{% static 'video/feedback/1.mp4 ' %}">
        </video>
      </div>
      <div class="viedo__feedback__box">
        <video class="video__feedback__block" controls muted loop width="100%" height="100%" style="object-fit:cover;">
          <source src="{% static 'video/feedback/2.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="{% static 'video/feedback/2.mp4' %}">
        </video>
      </div>
    </div>
    <div class="feadback__video__box">
      <div class="viedo__feedback__box">
        <video class="video__feedback__block" controls muted loop width="100%" height="100%" style="object-fit:cover;">
          <source src="{% static 'video/feedback/3.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="{% static 'video/feedback/3.mp4' %}">
        </video>
      </div>
      <div class="viedo__feedback__box">
        <video class="video__feedback__block" controls muted loop width="100%" height="100%" style="object-fit:cover;">
          <source src="{% static 'video/feedback/4.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="{% static 'video/feedback/4.mp4' %}">
        </video>
      </div>
    </div>

  </div>
</section>

{% endblock %}